{erl_opts, [debug_info]}.

{deps,[
      {meck, ".*",
             {git, "gitMobile@192.168.1.149:meck.git", {branch, master}}}
      ]}.

{clean_files, ["*~","**/*~","**/*.beam","logs/*","test/Emakefile"]}.

{cover_enabled, true}.

{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.
